{% extends 'layout.html' %}
{% block body %}

<div class="class row">
    <div class="class col-md-5">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {{ messages }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                  </button>
                </div>
            {%endfor%}
          {% endif %}
        {% endwith %}
    </div>
    <div class="row">
        <div class="col-md-8">
            <form action="/student/search" method="get" class="d-flex form-control">
                <input class="form-control" type="text" name="lastname" placeholder="Buscar por título..." value="{{ request.args.get('titulo','') }}">
                <button class="btn" type="submit">🔍 Buscar</button>
            </form>
        </div>
        <div class="col-md-4" style="text-align: right;">
            <a href="/student/add-student" class="btn btn-success">Nuevo</a>
        </div>
    </div>


    <div class="class col-md-12">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
            <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Documento</td>
                <td>Correo electrónico</td>
                <td>Teléfono</td>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.1 }}</td>
                <td>{{ student.2 }}</td>
                <td>{{ student.3 }}</td>
                <td>{{ student.4 }}</td>
                <td>{{ student.5 }}</td>
                <td style="text-align: right;">
                    <a href="/student/edit/{{student.0}}" class="btn btn-success">Editar</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}