{% extends 'layout.html' %}
{% block body %}

<div class="class row">
    <div class="class col-md-5">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {{ messages }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                  </button>
                </div>
            {%endfor%}
          {% endif %}
        {% endwith %}
    </div>
    <a href="/add-student" class="btn btn-success">Nuevo</a>

    <div class="class col-md-12">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
            <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Documento</td>
                <td>Correo electrónico</td>
                <td>Teléfono</td>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.1 }}</td>
                <td>{{ student.2 }}</td>
                <td>{{ student.3 }}</td>
                <td>{{ student.4 }}</td>
                <td>{{ student.5 }}</td>
                <td>
                    <a href="/book/edit/{{libro.0}}" class="btn btn-success">Editar</a>
                    <a href="/delete/{{libro.0}}" class="btn btn-danger btn-delete">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}