{% extends 'layout.html' %}
{% block body %}
<div class="class col-md-4 offset-md-4">

    <div class="card body">

        <form action="/book/add_book" method="POST">
            <div class="form-group">
                <input type="text" name="nombre" placeholder="Nombre del libro" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="autor" placeholder="Autor" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="editorial" placeholder="Editorial" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="genero" placeholder="Género" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="idioma" placeholder="Idioma" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="codigoISN" placeholder="Código ISN" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="categoria" placeholder="Categoria" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="ubicacion" placeholder="Ubicación" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block form-control">Guardar</button>
            </div>
        </form>
        <a href="javascript:history.back()">
            <button class="btn btn-warning btn-block form-control">Volver</button>
        </a>
    </div>
</div>


{% endblock %}