{% extends 'layout.html' %}
{% block body %}
<div class="class col-md-4 offset-md-4">

    <div class="card body">
        <form action="/categories/update/{{category.id}}" method="POST">
            <div class="form-group">
                <input type="text" name="name" placeholder="Nombre de la categoria" class="form-control" value="{{category.name}}">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block form-control">Guardar</button>
            </div>
        </form>
        <a href="javascript:history.back()">
            <button class="btn btn-warning btn-block form-control">Volver</button>
        </a>
    </div>
</div>

{% endblock %}