{% extends 'layout.html' %}
{% block body %}
<div class="class col-md-4 offset-md-4">

    <div class="card body">
        <form action="/users/update/{{contact.id}}" method="POST">
            <div class="form-group">
                <input type="text" name="fullname" placeholder="Nombre completo" value="{{ contact.fullname }}" class="form-control">
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="email" value="{{ contact.email }}" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="phone" placeholder="Teléfono" value="{{ contact.phone}}" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block form-control">Guardar</button>
            </div>
        </form>
        <a href="javascript:history.back()">
            <button class="btn btn-warning btn-block form-control">Volver</button>
        </a>
    </div>
</div>

{% endblock %}